{% extends "layout/home.html" %}

{% block content %}
<div class="col-md-8 blog_left">         
    {%set post = Blog.post(post_id)%}
    <h2>{{post.title}}</h2>
    <div class="byline">
	<time class="published" datetime="{{ post.post_date|date('Y-m-d') }}" title="{{ post.post_date|date('Y-m-d') }}">{{ post.post_date|date('Y-m-d') }}</time> &middot; 
	by <span class="author vcard">
                                	<a class="url fn n" rel="author" href="#" title="patrick">{{ post.username }}</a></span> </div>
    
    <p class="para">{{post.content|raw}}</p>
      

</div>
{% endblock content %}