{% extends "layout/home.html" %}

{% block content %}
<div class="col-md-8 blog_left">    
    <h2>分类目录 : {{Blog.CategoryName(category_id)}}</h2>
    {%set posts = Blog.Posts("category_id="~category_id)%}
    {%for post in posts%}
    <h3><a href="{{Blog.post_link(post.id)}}">{{post.title}}</a></h3>                              
    <p class="para">{{post.content|raw}}</p>
    <div class="read_more">
        <a href="{{Blog.post_link(post.id)}}"><button class="btn_style">view more</button></a>
    </div>
    {%endfor%}
  


</div>
{% endblock content %}